.Homepage{
    &__banner1{
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url(../assets/image/Home-banner1.png);
        width: auto;
        height: 700px;
        background-size: cover;

        h1{
            margin-top: 0px;
        }
    }
}