#root {
  max-width: 1800px;
  margin: 0px auto;
  padding: 0px;
}

.container{
  margin: 0 5%;
}

a {
  text-decoration: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c6b9ff;
  &__Logo {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: baseline;

    img {
      height: 50px;
    }
    a{
      &:active,&:focus {
        color: inherit; 
        outline: none; 
      }
    }
  }

  &__Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    a {
      text-decoration: none;
      font-weight: 800;
      color: #333;
      padding: 10px;
    
      &:hover {
        color: #f0f0f0;
      }
    }
  }

  &__ProfileMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-weight: 800;
      color: #333;
      padding: 10px;

      &:hover {
        color: #f0f0f0;
      }
    }

    &-Profile {
      img {
        border-radius: 50px;
        max-height: 40px;
        width: auto;
      }
    }

    &-Links {
      display: flex;
      align-items: center;
    }

    &-Seperator {
      margin: 0 5px;
    }
  }
}
